html, body { height: 100% }
body { font-family: 'Roboto', sans-serif; overflow: hidden }

main { display: flex; flex: 6 !important }
header { max-height: 64px; min-height: 64px; }
header, footer { flex: 1 !important }

/* IDS */
#root { height: 100% }
#app-container {
    height: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}
#app-content {
    flex: 3;
}

.float-button {
  top: -29px; /* Adjust to where you want it */
  right: 6%; /* Adjust to where you want it */
  z-index: 1100;
  position: absolute;
}

/* CLASSES */